<%= form_with(model: reservable_schedule, local: true) do |form| %>
  <% if reservable_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservable_schedule.errors.count, "error") %> prohibited this reservable_schedule from being saved:</h2>

      <ul>
      <% reservable_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fp_id %>
    <%= form.number_field :fp_id %>
  </div>

  <div class="field">
    <%= form.label :starting_time %>
    <%= form.time_select :starting_time %>
  </div>

  <div class="field">
    <%= form.label :ending_time %>
    <%= form.time_select :ending_time %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
